.MovieItem {
  list-style: none;
  background: rgb(246, 232, 234);
  border: 1px solid darkgray;
  padding: 10px;
  color: rgb(34, 24, 28);

  display: grid;
  grid-template-rows: 30px 300px 20px;
  grid-gap: 10px;

  justify-items: center;
  align-items: center;
}

.MovieItem h2 {
  margin: 0;
}

.MovieItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.MovieItem p {
  margin: 0;
  font-size: 1.1rem;
}
